		<!-- Page Content -->
<div class="content" style="min-height: 248.2px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="chat-window">

                    <!-- Chat Right -->
                    <div id="ChatBox" class="chat-cont-right">
                        <div class="chat-header">
                            <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                <i class="material-icons">chevron_left</i>
                            </a>
                            <div class="media">
                                <div class="media-img-wrap">
                                    <div class="avatar avatar-online">
                                        <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="user-name">پزشک دارن الدر</div>
                                    <div class="user-status">آنلاین</div>
                                </div>
                            </div>
                            <div class="chat-options">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#voice_call">
                                    <i class="material-icons">local_phone</i>
                                </a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#video_call">
                                    <i class="material-icons">videocam</i>
                                </a>
                                <a href="javascript:void(0)">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            </div>
                        </div>
                        <div class="chat-body">
                            <div class="chat-scroll">
                                <ul class="list-unstyled">
                                    <li class="chat-date">امروز</li>
                                    @*<li id="Messages" class="media sent">
                                        <div class="media-body">
                                            <div class="msg-box">
                                                <div>
                                                    <p>لورم ایپسوم متن ساختگی</p>
                                                    <div class="chat-msg-actions dropdown">
                                                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fe fe-elipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">حذف</a>
                                                        </div>
                                                    </div>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>10:19 قبل از ظهر</span>
                                                            </div>
                                                        </li>
                                                        <li><a href="#"> ویرایش </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>*@
                                    <li id="Messages"></li>
                                </ul>
                            </div>
                        </div>
                        <div id="SendNewMessage" class="chat-footer">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="btn-file btn">
                                        <i class="fa fa-paperclip"></i>
                                        <input type="file">
                                    </div>
                                </div>
                                <form id="NewMessageForm">
                                    <input id="MessageInput" type="text" class="input-msg-send form-control" placeholder="چیزی تایپ کنید ">
                                    <div class="input-group-append">
                                        <button class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Chat Right -->
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>
</div>
<!-- /Page Content -->