@model CR.Core.DTOs.RequestDTOs.Blogs.RequestAddNewBlogDto

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">افزودن مقاله جدید</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">افزودن مقاله جدید </h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <partial name="ExpertPnelSideBarMenu" />

            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <!-- Add Blog -->
                <form id="addNewBlogForm">
                    <div class="card">
                        <div class="card-body">
                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="change-avatar">
                                                <div class="profile-img">
                                                    <img src="~/assets/img/upload-icon-flat-vector-download-260nw-1378175036.jpg" alt="User Image">
                                                </div>
                                                <div class="upload-img">
                                                    <div class="change-photo-btn">
                                                        <span><i class="fa fa-upload"></i> بارگذاری تصویر </span>
                                                        <input type="file" class="upload" id="fileImage">
                                                    </div>
                                                    <small class="form-text text-muted">JPG ، GIF یا PNG مجاز است. حداکثر اندازه 2 مگابایت</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>عنوان بلاگ <span class="text-danger">*</span></label>
                                            <input onchange="makeSlug('title', 'slug')" class="form-control" type="text" asp-for="title" id="title" name="title">
                                            <span asp-validation-for="title" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Slug<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" asp-for="slug" id="slug" name="slug" readonly="readonly">
                                            <span asp-validation-for="slug" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>ترتیب نمایش <span class="text-danger">*</span></label>
                                            <input class="form-control" type="number" asp-for="orderNumber" id="orderNumber" name="orderNumber">
                                            <span asp-validation-for="orderNumber" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>تاریخ انتشار <span class="text-danger">*</span></label>
                                            <input class="form-control datetimepicker" type="text" asp-for="publishDate" id="publishDate" name="publishDate">
                                            <span asp-validation-for="publishDate" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>دسته بندی<span class="text-danger">*</span></label>
                                            <select class="form-control" asp-items="ViewBag.Categories" asp-for="blogCategoryId" id="blogCategoryId" name="blogCategoryId">
                                                <option>انتخاب کنید</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>توضیحات کوتاه<span class="text-danger">*</span></label>
                                            <textarea asp-for="shortDescription" class="form-control service-desc" id="shortDescription" name="shortDescription"></textarea>
                                            <span asp-validation-for="shortDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>توضیحات متا<span class="text-danger">*</span></label>
                                            <textarea asp-for="metaDescription" class="form-control service-desc" id="metaDescription" name="metaDescription"></textarea>
                                            <span asp-validation-for="metaDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>متن<span class="text-danger">*</span></label>
                                            <textarea asp-for="description" class="form-control service-desc" id="description" name="description"></textarea>
                                            <span asp-validation-for="description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="service-fields mb-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>کلمات کلیدی<span class="text-danger">*</span></label>
                                            <input type="text" data-role="tagsinput" class="input-tags form-control" asp-for="keyWords" id="keyWords" name="keyWords">
                                            <small class="form-text text-muted">توجه: برای افزودن کلمات های جدید ، اینتر را فشار داده و وارد کنید</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Canonical Address<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" asp-for="canonicalAddress" id="canonicalAddress" name="canonicalAddress">
                                            <span asp-validation-for="canonicalAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button onclick="AddBlog()" class="btn btn-primary submit-btn" type="submit" value="submit">افزودن</button>
                    </div><br/>
                </form>
            </div>
        </div>
        <!-- /Add Blog -->
    </div>
</div>

@section Footer{
    <partial name="Footer"/>
}

@section Scripts
{
<script src="~/assets/js/ExpertPanel/Blogs/Blogs.js"></script>
<script src="~/assets/js/ExpertPanel/layout.js"></script>
<script src="~/assets/js/ckeditor/ckeditor.js"></script>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('description');
    });

    function makeSlug(source, dist) {
        var value = $('#' + source).val();
        $('#' + dist).val(convertToSlug(value));
    }

    var convertToSlug = function (str) {
        var $slug = '';
        var trimmed = $.trim(str);
        $slug = trimmed.replace(/[^a-z0-9-آ-ی-]/gi, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');
        return $slug.toLowerCase();
    };

    function checkSlugDuplication(url, dist) {
        var slug = $('#' + dist).val();
        var id = convertToSlug(slug);
        $.get({
            url: url + '/' + id,
            success: function (data) {
                if (data) {
                    sendNotification('error', 'top right', "خطا", "اسلاگ نمی تواند تکراری باشد");
                }
            }
        });
    }

    function fillField(source, dist) {
        var value = $('#' + source).val();
        $('#' + dist).val(value);
    }

    function AddBlog() {

        if ($("#addNewBlogForm").valid()) {

            var blogCategorySelect = document.getElementById('blogCategoryId');

            var data = new FormData();

            data.append("title",$("#addNewBlogForm #title").val());
            data.append("slug",$("#addNewBlogForm #slug").val());
            data.append("blogCategoryId",blogCategorySelect.options[blogCategorySelect.selectedIndex].value);
            data.append("shortDescription",$("#addNewBlogForm #shortDescription").val());
            data.append("description",CKEDITOR.instances.description.getData());
            data.append("shortDescription",$("#addNewBlogForm #shortDescription").val());
            data.append("orderNumber",$("#addNewBlogForm #orderNumber").val());
            data.append("keyWords",$("#addNewBlogForm #keyWords").val());
            data.append("metaDescription",$("#addNewBlogForm #metaDescription").val());
            data.append("publishDate",$("#addNewBlogForm #publishDate").val());
            data.append("canonicalAddress",$("#addNewBlogForm #canonicalAddress").val());
            data.append("file",$("#addNewBlogForm #fileImage").get(0).files[0]);

            $( "#addNewBlogForm" ).submit(function( event ) {
                $.ajax({
                    type: "POST",
                    url: '/api/ExpertBlogs/AddNewBlog',
                    data: data,
                    processData: false,
                    contentType: false,
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                event.preventDefault();
            });
        }
    }
</script>
}
