@model CR.Core.DTOs.Settings.SettingDto
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">تنظیمات کلی</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item"><a href="javascript:(0)">تنظیمات</a></li>
                <li class="breadcrumb-item active">تنظیمات کلی</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">

    <div class="col-12">

        <!-- General -->

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">کلی</h4>
            </div>
            <div class="card-body">
                <form id="settingForm">

                    <div class="form-group">
                        <label>نام سایت</label>
                        <input type="text" class="form-control" asp-for="Title" id="title" name="title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>لوگو سایت</label>
                        <input type="file" class="form-control" asp-for="Logo" id="logo" name="logo">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>150px x 150px</b></small>
                    </div>
                    <div class="form-group mb-0">
                        <label>فایکون</label>
                        <input type="file" class="form-control" asp-for="FavIcon" id="favicon" name="favicon">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>16px x 16px</b> یا <b>32px x 32px</b></small><br>
                        <small class="text-secondary">قالب های پذیرفته شده: فقط png و ico</small>
                    </div>

                    <div class="form-group">
                        <label>بنر اصلی سایت</label>
                        <input type="file" class="form-control" asp-for="Banner" id="banner" name="banner">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>1080px x 141px</b></small>
                    </div>
                    <div class="form-group">
                        <label>رنگ بنر اصلی سایت</label>
                        <input type="text" class="form-control" asp-for="BannerColor" id="bannercolor" name="bannercolor">
                        <span asp-validation-for="BannerColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>فوتر سایت</label>
                        <input type="file" class="form-control" asp-for="FooterLogo" id="footer" name="footer">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>250px x 60px</b></small>
                    </div>

                    <div class="form-group">
                        <label>عنوان باکس اول</label>
                        <input type="text" class="form-control" asp-for="TopBoxText1" id="textbox1" name="textbox1">
                        <span asp-validation-for="TopBoxText1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>تصویر باکس اول</label>
                        <input type="file" class="form-control" asp-for="TopBoxImage1" id="imagebox1" name="imagebox1">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>512px x 512px</b></small>
                    </div>

                    <div class="form-group">
                        <label>عنوان باکس دوم</label>
                        <input type="text" class="form-control" asp-for="TopBoxText2" id="textbox2" name="textbox2">
                        <span asp-validation-for="TopBoxText2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>تصویر باکس دوم</label>
                        <input type="file" class="form-control" asp-for="TopBoxImage2" id="imagebox2" name="imagebox2">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>512px x 512px</b></small>
                    </div>

                    <div class="form-group">
                        <label>عنوان باکس سوم</label>
                        <input type="text" class="form-control" asp-for="TopBoxText3" id="textbox3" name="textbox3">
                        <span asp-validation-for="TopBoxText3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>تصویر باکس سوم</label>
                        <input type="file" class="form-control" asp-for="TopBoxImage3" id="imagebox3" name="imagebox3">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>512px x 512px</b></small>
                    </div>
                    <div class="form-group">
                        <label>وکتور کاربر</label>
                        <input type="file" class="form-control" asp-for="UserVector" id="uservector" name="uservector">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>650px x 950px</b></small>
                    </div>
                    <div class="form-group">
                        <label>وکتور مشاور</label>
                        <input type="file" class="form-control" asp-for="ExpertVector" id="expertvector" name="expertvector">
                        <small class="text-secondary">اندازه تصویر پیشنهادی <b>650px x 950px</b></small>
                    </div>

                    <div class="submit-section">
                        @if (Model != null)
                        {
                            <button onclick="Edit(@Model.Id)" class="btn btn-warning submit-btn" type="submit" name="form_submit"> ویرایش</button>
                        }
                        else
                        {
                            <button onclick="Add()" class="btn btn-primary submit-btn" type="submit" name="form_submit"> ذخیره</button>
                        }
                    </div>
                </form>
            </div>
        </div>

        <!-- /General -->

    </div>
</div>

@section Scripts
{
    <script>
         function Add() {
        if ($("#settingForm").valid()) {

            var data = new FormData();

            data.append("title",$("#settingForm #title").val());
            data.append("logo",$("#settingForm #logo").get(0).files[0]);
            data.append("favIcon", $("#settingForm #favicon").get(0).files[0]);

            data.append("footer", $("#settingForm #footer").get(0).files[0]);
            data.append("banner", $("#settingForm #banner").get(0).files[0]);
            data.append("imagebox1", $("#settingForm #imagebox1").get(0).files[0]);
            data.append("imagebox2", $("#settingForm #imagebox2").get(0).files[0]);
            data.append("imagebox3", $("#settingForm #imagebox3").get(0).files[0]);
            data.append("textbox1", $("#settingForm #textbox1").val());
            data.append("textbox2", $("#settingForm #textbox2").val());
            data.append("textbox3", $("#settingForm #textbox3").val());
            data.append("bannercolor", $("#settingForm #bannercolor").val());
            data.append("uservector", $("#settingForm #uservector").get(0).files[0]);
            data.append("expertvector", $("#settingForm #expertvector").get(0).files[0]);


            $("#settingForm").submit(function( event ) {
                $.ajax({
                    type: "POST",
                    url: '/api/Settings/Add',
                    data: data,
                    processData: false,
                    contentType: false,
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                event.preventDefault();
            });
        }
    }


    function Edit(id) {
        if ($("#settingForm").valid()) {
                        
            var data = new FormData();

            data.append("id",id);
            data.append("title",$("#settingForm #title").val());
            data.append("logo",$("#settingForm #logo").get(0).files[0]);
            data.append("favIcon", $("#settingForm #favicon").get(0).files[0]);

            data.append("footer", $("#settingForm #footer").get(0).files[0]);
            data.append("banner", $("#settingForm #banner").get(0).files[0]);
            data.append("imagebox1", $("#settingForm #imagebox1").get(0).files[0]);
            data.append("imagebox2", $("#settingForm #imagebox2").get(0).files[0]);
            data.append("imagebox3", $("#settingForm #imagebox3").get(0).files[0]);
            data.append("textbox1", $("#settingForm #textbox1").val());
            data.append("textbox2", $("#settingForm #textbox2").val());
            data.append("textbox3", $("#settingForm #textbox3").val());
            data.append("bannercolor", $("#settingForm #bannercolor").val());
            data.append("uservector", $("#settingForm #uservector").get(0).files[0]);
            data.append("expertvector", $("#settingForm #expertvector").get(0).files[0]);


            $("#settingForm").submit(function( event ) {
                $.ajax({
                    type: "POST",
                    url: '/api/Settings/Edit',
                    data: data,
                    processData: false,
                    contentType: false,
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                event.preventDefault();
            }); 
        }   
    }
    </script>
}
