    <!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="~/assets/img/footer.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>*@
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-video-camera"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>

                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">مراجعه‌کنندگان</h2>
                        <ul>
                            <li><a asp-area="" asp-action="Index" asp-controller="Experts">جستجو مشاوران</a></li>
                            <li><a asp-area="" asp-action="login" asp-controller="Account">‌ورود</a></li>
                            <li><a asp-area="" asp-action="Signup" asp-controller="Account">‌ثبت‌نام</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>

                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">مشاوران</h2>
                        <ul>
                            <li><a asp-area="" asp-action="login" asp-controller="Account">‌ورود</a></li>
                            <li><a asp-area="" asp-action="ExpertSignup" asp-controller="Account">‌ثبت‌نام</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">مجوز ها</h2>
                        <div class="footer-contact-info">
                            <div class="footer-logo">
                                <a href="https://trustseal.enamad.ir/?id=237793&code=mAX9YavQfslTlT4rFFvl">
                                    <img src="~/assets/img/Enamad.png" alt="logo">
                                </a>
                                <img src="~/assets/img/KasbVaKaar.png" alt="logo">
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; تمامی حقوق این وبسایت متعلق به شبکه یکپارچه مشاوره چاله چوله میباشد.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a asp-area="" asp-controller="Rules" asp-action="Index">شرایط و مقررات</a></li>
                                <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">تماس با ما</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->