@model CR.Core.DTOs.Account.ResetPasswordForMainSiteViewModel
@{
    Layout = "_Layout";
}
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <!-- ResetPassword Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="~/assets/img/reset_pass.png" class="img-fluid" alt="chalechoole Register">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3 id="signUpText">فراموشی رمز عبور</h3>
                            </div>
                            <!-- PhoneNumberForResetPassword Form -->
                            <form id="resetPassForm">
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" asp-for="phoneNumber" id="phoneNumber" name="phoneNumber">
                                    <label class="focus-label">شماره موبایل </label>
                                    <span asp-validation-for="phoneNumber" class="text-danger"></span>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" asp-area="" asp-controller="Account" asp-action="Login"> حساب کاربری دارید؟ </a>
                                </div>
                                <button onclick="SendCode()" type="submit" class="btn btn-primary btn-block btn-lg login-btn">ارسال کد تایید</button>
                            </form>
                            <!-- /PhoneNumberForResetPassword Form -->
                            <!-- VerificationCodeForResetPassword Form -->
                            <form id="resetPasswordVerificationCodeForm" class="hide">
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" asp-for="verificationCode" id="verificationCode" name="verificationCode">
                                    <label class="focus-label">کد تایید </label>
                                    <span asp-validation-for="verificationCode" class="text-danger"></span>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" asp-area="" asp-controller="Account" asp-action="Login"> حساب کاربری دارید؟ </a>
                                </div>
                                <button onclick="Verify()" type="submit" class="btn btn-primary btn-block btn-lg login-btn">ارسال</button>
                            </form>
                            <!-- /VerificationCodeForResetPassword Form -->
                            <!-- New Password Form -->
                            <form id="newPasswordForm" class="hide">
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating" asp-for="NewPassword" id="password" name="password">
                                    <label class="focus-label">رمزعبور جدید </label>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating" asp-for="ConfirmNewPassword">
                                    <label class="focus-label">تکرار رمزعبور جدید</label>
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" asp-area="" asp-controller="Account" asp-action="Login"> حساب کاربری دارید؟ </a>
                                </div>
                                <button onclick="ConfirmResetPassword()" type="submit" class="btn btn-primary btn-block btn-lg login-btn">بروزرسانی رمزعبور</button>
                            </form>
                            <!-- /New Password Form -->
                        </div>
                    </div>
                </div>
                <!-- /Register Content -->

            </div>
        </div>

    </div>
</div>
<br />
<!-- /Page Content -->
@section Footer{
<partial name="Footer" />
}

@section Scripts
{
<script>
    function SendCode() {
        if ($("#resetPassForm").valid()) {

            var resetPassPhoneNumberData = new FormData();

            resetPassPhoneNumberData.append("phoneNumber",$("#resetPassForm #phoneNumber").val());

            $("#resetPassForm" ).submit(function( event ) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SendVerificationCodeForResetPassword","Account")',
                    data: resetPassPhoneNumberData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                $("#signUpText").html("کد تایید را وارد نمایید");
                                $("#resetPassForm").addClass("hide");
                                $("#resetPasswordVerificationCodeForm").removeClass("hide");
                                $("#newPasswordForm").addClass("hide");
                            });
                        }
                        else {
                            swal.fire('هشدار!',
                                data.message,
                                'warning');
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                event.preventDefault();
            });
        }
    }

    function Verify() {
        if ($("#resetPasswordVerificationCodeForm").valid()) {

        var postData = {
            'verificationCode': $("#resetPasswordVerificationCodeForm #verificationCode").val()
        };

        console.log(postData);

        $("#resetPasswordVerificationCodeForm" ).submit(function( event ) {
            $.ajax({
                url: '@Url.Action("VerifyCodeForResetPassword","Account")',
                data: postData,
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                cache: false,
                beforeSend: function(x) {
                    $('#loading').show();
                },
                success: function(data) {
                    if (data.isSuccess === true) {
                        swal.fire('موفق!',
                            data.message,
                            'success').then(function(isConfirm) {
                            $("#signUpText").html("رمز عبور را وارد نمایید");
                            $("#resetPassForm").addClass("hide");
                            $("#newPasswordForm").removeClass("hide");
                            $("#resetPasswordVerificationCodeForm").addClass("hide");
                        });
                    }
                    else {
                        swal.fire('هشدار!',
                            data.message,
                            'warning').then(function(isConfirm) {
                            document.getElementById("verificationCode").value = "";
                        });
                    }
                },
                complete: function() {
                    $('#loading').hide();
                },
                fail: function() {
                    $('#loading').hide();
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });
            event.preventDefault();
        });
        }
    }

    function ConfirmResetPassword() {
        if ($("#newPasswordForm").valid()) {

            var passwordData = new FormData();

            passwordData.append("password",$("#newPasswordForm #password").val());

            $("#newPasswordForm" ).submit(function( event ) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConfirmResetPassword","Account")',
                    data: passwordData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                location.replace("/Account/Login");
                            });
                        }
                        else {
                            swal.fire('هشدار!',
                                data.message,
                                'warning');
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                event.preventDefault();
            });
        }
    }
</script>
}
