@model CR.Common.DTOs.ResultDto
@{
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">رزرو نوبت</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">رزرو نوبت</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">

               @if (Model.IsSuccess)
               {
                   <!-- Success Card -->
                   <div class="card success-card">
                       <div class="card-body">
                           <div class="success-cont">
                               <i class="fas fa-check"></i>
                               <h3>@ViewData["Description"]</h3>
                           </div>
                       </div>
                   </div>
                   <!-- /Success Card -->
               }
               else
               {
                   <!-- Success Card -->
                   <div class="card success-card">
                       <div class="card-body">
                           <div class="success-cont">
                               <i class="fas fa-times-circle"></i>
                               <h3>@ViewData["Description"]</h3>
                           </div>
                       </div>
                   </div>
                   <!-- /Success Card -->
               }

            </div>
        </div>

    </div>
</div>
<!-- /Page Content -->

@section Footer{
    <partial name="Footer"/>
}