@model CR.Core.DTOs.RequestDTOs.Specialty.RequestEditSpecialityDto

<link rel="stylesheet" href="~/assets/css/style.css">

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">ویرایش تخصص @Model.Name</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item"><a href="javascript:(0);">صفحات</a></li>
                <li class="breadcrumb-item active">ویرایش تخصص</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body custom-edit-service">
                <!-- Add Blog -->
                <form id="editSpecialtyForm"> 
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>تصویر</label>
                                    <input type="file" class="form-control" id="fileEdit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>عنوان <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="Name" id="name" name="name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>ترتیب نمایش <span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" asp-for="OrderNumber" id="orderNumber" name="orderNumber">
                                    <span asp-validation-for="OrderNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button onclick="EditSpecialty(@Model.Id)" type="submit" class="btn btn-primary submit-btn"> ذخیره تغییرات</button>
                    </div>
                </form>
                <!-- /Add Blog -->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

    function EditSpecialty(id) {

        if ($("#editSpecialtyForm").valid()) {

            var editSpecialtyForm = new FormData();
            editSpecialtyForm.append("name", $("#editSpecialtyForm #name").val());
            editSpecialtyForm.append("orderNumber", $("#editSpecialtyForm #orderNumber").val());
            editSpecialtyForm.append("id", id);

            var Image = document.getElementById("fileEdit");
            if (Image.files.length > 0) {
                editSpecialtyForm.append("File", Image.files[0]);
            }

            $("#editSpecialtyForm").submit(function(event) {

                $.ajax({
                    type: 'POST',
                    url: '/api/SpecialtiesController/EditSpecialty',
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    cache: false,
                    data: editSpecialtyForm,
                    beforeSend: function(x) {
                        $('#loading').show(0);
                    },
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire('موفق!',
                                data.message,
                                'success').then(function(isConfirm) {
                                window.location.replace('/AdminPanel/Speciality');
                            });
                        }
                    },
                    complete: function() {
                        $('#loading').hide(0);
                    },
                    fail: function() {
                        $('#loading').hide(0);
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });

                event.preventDefault();
            });
       }
    }

    </script>
}
