@model CR.Core.DTOs.AboutUs.AboutUsDto

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">درباره ما</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    @if (Model != null)
                    {
                        @Html.Raw(Model.FullContent)
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->

@section Footer{
    <partial name="Footer"/>
}