<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img alt="User">
            </a>
            <div class="profile-det-info">
                <h3></h3>
                <div class="patient-details">
                    <h5><i class="fas fa-birthday-cake"></i></h5>
                    <div class="cityAndProvince">
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu" id="ConsumerPanelMenu">
            <ul>
                <li id="Home">
                    <a asp-area="ConsumerPanel" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-columns"></i>
                        <span>داشبورد</span>
                    </a>
                </li>
                <li id="FinancialTransactions">
                    <a asp-area="ConsumerPanel" asp-controller="FinancialTransactions" asp-action="Index">
                        <i class="fas fa-columns"></i>
                        <span>کیف پول/تراکنش ها</span>
                    </a>
                </li>
                <li id="Favorites">
                    <a asp-area="ConsumerPanel" asp-controller="Favorites" asp-action="Index">
                        <i class="fas fa-bookmark"></i>
                        <span>‌علاقه‌مندیها</span>
                    </a>
                </li>
                <li>
                    <a >
                        <i class="fas fa-comments"></i>
                        <span>پیام‌ها</span>
                        <small class="unread-msg">23</small>
                    </a>
                </li>
                <li id="Profile">
                    <a asp-controller="Profile" asp-action="Index">
                        <i class="fas fa-user-cog"></i>
                        <span>تنظیمات پروفایل</span>
                    </a>
                </li>
                <li id="Account">
                    <a asp-controller="Account" asp-action="Index">
                        <i class="fas fa-lock"></i>
                        <span>‌تغییر رمز عبور</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>خروج</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>